H1{

  text-align: center;

} 

.clm1{

  background-color: grey;

  border: 2px solid black;

  margin: 8px;} 

.clm2{

  background-color: grey;

  border: 2px solid black;

  margin: 8px;} 

.clm3{

  background-color: grey;

  border: 2px solid black;

  margin: 8px;} 

  

} 

@media (min-width:992px)

{

 .clm1{

   width: 31%;

   float: left ;

 } 

 .clm2{

   width: 31%;

   float: left ;

 } 

 .clm3{

   width: 31%;

   float: left ;

 } 

} 

@media (max-width:767px) {

 .clm1{

   width: 95%;

   float: left ;

 } 

 .clm2{

   width: 95%;

   float: left ;

 } 

 .clm3{

   width: 95%;

   float: left ;

 } 

} 

@media (max-width:991px) and (min-width:768px) {

 .clm1{

   width: 46%;

   float: left ;} 

 .clm2{

   width: 46%;

   float: left ;} 

 .clm3{

   width: 95%;

   float: left ;

 } 

} 

#p1{

  clear: right;

  padding: 10px;

}

#p2{

  clear: right;

  padding: 10px;

}

#p3{

  clear: right;

  padding:10px;

}

.name{

 margin: 0;

  background-color: pink;

  border-left: 2px solid black ;

  border-bottom: 2px solid black ;

  padding: 2px;

  Width:80px;

  float: right;

}

.name1{

 margin: 0;

  background-color: brown ;

  border-left: 2px solid black ;

  border-bottom: 2px solid black ;

  padding: 2px;

  Width:80px;

  float: right;

}

.name2{

 margin: 0;

  background-color: yellow;

  border-left: 2px solid black ;

  border-bottom: 2px solid black ;

  padding: 2px;

  Width:80px;

  float: right;

}

